body {
    font-family: "Open Sans";
    background-color: #FAFBFD;
    margin: 0;
}

p {
    margin: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px 40px;
    height: 40px
}

.nav-link {
    padding: 5px 9px;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: blue;
    font-weight: bold;
}

.vl {
    border: 1px solid #B3B3B3;
    margin-left: 10px
}

.container {
    padding: 15px 40px;
}

.greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 80px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    border: 5px solid #0061ff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: fill;
    overflow: hidden;
}

.amount {
    display: flex;
    justify-content: space-between;
}

.act_num {
    border-radius: 25px;
    padding: 30px 20px;
}

.amount_num {
    font-size: 20px;
    font-weight: bold;
}

.visibility {}

.account_icon {
    display: flex;
    align-items: center;
    background: #0061FF;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #19918F;
}